# Web Framework
fastapi
uvicorn
python-multipart

# the stuff for osm/overpass api
httpx

# Database and ORM
sqlalchemy
psycopg2-binary

# Spatial Data (Mapping and Routing)
geoalchemy2
shapely

# Data Acquisition and Processing
requests
pandas
protobuf

# Schedule Parsing
icalendar